.counters {
  display: flex;
  align-items: center;
}


.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 35px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 0 15px;
}

.total__text {
  color: #506266;
}

.total__counter {
  font-size: 20px;
  font-weight: bold;
  color: #8a8a8a;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 35px;
  margin-left: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 5px 16px;
}

.status__divider {
  height: 100%;
  border-left: 1px solid #8a8a8a;
  margin: 0 8px;
}

.status__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status__info {
  display: flex;
  align-items: center;
}

.status__text {
  margin-left: 8px;
  color: #10454F;
}

.status__counter {
  color: #10454F;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .counters {
    flex-direction: column;
    align-items: flex-start;
  }
  .status {
    width: 100%;
    height: 80px;
    flex-direction: column;
    margin: 16px 0 0 0;
  }
  .status__divider {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #8a8a8a;
    margin: 0 8px;
  }
}